<!DOCTYPE html>
<html lang="nl">
<head>
    <title>elFinder</title>
    <link href="{{ asset('bundles/webberigshared/jquery-ui/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet" />

    <link rel="stylesheet" media="screen" href="{{ asset('bundles/webberigckeditor/elfinder/css/elfinder.min.css') }}">
    <!-- Mac OS X Finder style for jQuery UI smoothness theme (OPTIONAL) -->
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/webberigckeditor/elfinder/css/theme.css') }}">
    <script src="{{ asset('js/elfinder.js') }}"></script>


    <script src="{{ asset('bundles/webberigckeditor/elfinder/js/elfinder.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/webberigckeditor/elfinder/js/i18n/elfinder.nl.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        // Helper function to get parameters from the query string.
        function getUrlParam(paramName) {
            var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
            var match = window.location.search.match(reParam) ;

            return (match && match.length > 1) ? match[1] : '' ;
        }

        $().ready(function() {
            var funcNum = getUrlParam('CKEditorFuncNum');

            var elf = $('#elfinder').elfinder({
                url : '{{ path('webberig_ck_editor_elfinder_connect') }}',
                getFileCallback : function(file) {
                    window.opener.CKEDITOR.tools.callFunction(funcNum, file);
                    window.close();
                },
                resizable: false
            }).elfinder('instance');
        });
    </script>
</head>
<body>
<div id="elfinder"></div>
</body>
</html>